/* Quitar leyenda de los file input */
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

/* MENU IZQUIERDO */
.menu-izquierdo {
    background: linear-gradient(to bottom, #1c7026, rgb(43, 201, 77));
}

.contenedor-principal {
    /* Color del menu */
    background-color: white;
}

.img-inferior {
    position: absolute;
    top: 80%;
    width: 70%;
    height: 20%;
}

/* * Parte del reseteo de la contraseña */
.contenedor-form-reset-pass {
    background: linear-gradient(to bottom, #1c3b70, #4f6697);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.contenedor-form-reset-pass .card-principal {
    background: linear-gradient(to bottom, #d93636, #922d2d);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    color: white;
}

.contenedor-form-reset-pass .img-app {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contenedor-form-reset-pass .matricula-app {
    text-align: center;
    font-weight: bold;
}
